<div class="container">
  <div style="display: flex;  ">
      <div class="card cont" style="background-color:#147AD8;border: none;">
        <div class="card" style="background:none; color: white; display: flex; justify-content: center;">
          <img src="./assets/profil.png" style="border-radius: 50%; width: 150px;  margin-left: 30%;" alt="C" >


                </div>
        <div class="card" style="background:none; color: white;">
  <h3>A propos de moi</h3>
          <span>Je suis un jeune Automaticien polyvalent,<br> organisé, sociable et rigoureux dans le travail.<br> J'ai pu développer à Simplon Sénégal, <br>de solides compétences en matière de<br> planification de travail à effectuer <br>individuellement ou en équipe, <br>en gestion de conflit dans une équipe,<br> en partage et à la recherche de solutions <br>à un problème.
            Je suis à la recherche d'un </span>
        </div>
        <div class="card" style="background:none;color: white;">
          <h4 class="card " style="color: #147AD8;">CONTACTS</h4>
          <p>tel: +221 77 783 93 59</p>
          <p>email: chmouhammed2605@gmail.com</p>
          <p>Adresse : Point E</p>
          <p>Git: github.com/cheihsall</p>
        </div>
        <div class="card" style="background:none; color: white;">
          <h4 class="card " style="color:#147AD8;">REALISATIONS</h4>
          <span>Réalisation d'une Application de gestion <br> de Serre Agricole Automatisé <p> <a href="https://github.com/cheihsall/automatisation_serre"> https://github.com/cheihsall/automatisation_serre</a></p>
            -Réalisation d'un API avec Express js
           <p> <a href="https://github.com/cheihsall/API"> https://github.com/cheihsall/API</a></p>
            -Réalisation de mini projet test avec arduino
           <p> <a href="https://github.com/cheihsall/mini-projet-test-arduino"> https://github.com/cheihsall/mini-projet-test-arduino</a></p></span>
        </div>
        <div class="card" style="background:none;color: white;">
          <h4 class="card " style="color: #147AD8;">COMPETENCES LINGUSTIQUES</h4>
          <p><span> Français : </span> <progress value="60" max="100">60%</progress> <span>60%</span></p>
          <p>Anglais : <progress value="55" max="100">55%</progress></p>
          <p>Wolof : <progress value="20" max="100">20%</progress></p>



        </div>
        <div class="card" style="background: none; color: white;">
          <h4 class="card " style="color:#147AD8;">CENTRE D'INTÉRET</h4>
          <p>Football: pour l'esprit d'équipe
            </p>
          <p>Association : Président de la commission pédagogique de  <br> L'Amicales des étudiants de Kébémer à Dakar</p>

        </div>
      </div>

      <div style="border: none; margin-left: 0%;">

        <div class="card" style="background-color:#147AD8; color: rgb(246, 246, 246);border: none; display: flex; justify-content: center;" >
          <h4 >Cheikh SALL</h4>
          <h4  >AUTOMATICIEN</h4>

        </div>
  <div class="card" style="border: none;" >
    <h4 class="card " style="background-color:#147AD8; color: rgb(246, 246, 246);border: none;">COMPETENCES</h4>
   <h5> Automatisme</h5>
       <p> - Conception, réalisation et maintenance d'un  système
           automatisé</p>
       <p> - Programmer, câbler et simuler un automate  programmable</p>
       <p> - Conception de systèmes de contrôle : HMI</p>
       <p> - Conception , développement et maintenance de systèmes IoT</p>
  </div>
  <div class="card" style="border: none;">
   <h5> Pneumatique / Électropneumatique</h5>
       <p> - Capacité à lire et à interpréter des schémas  électriques et
           pneumatiques</p>
      <p>  -Capacité à programmer et à utiliser des  automates
         programmables pour contrôler les  systèmes électropneumatiques</p>
  </div>
  <div class="card" style="border: none;">
    <h5>Électrotechnique</h5>
    <ul>
      <li> <p>  Connaissance des différents types de moteurs électriques et de
         leurs applications</p></li>
      <li> <p>Capacité à diagnostiquer et à résoudre les problèmes électriques</p></li>
       <li><p>Compétences en dépannage et en maintenance  préventive des
         équipements électriques</p></li>
        </ul>
  </div>
  <div class="card" style="border: none;">
    <h5>Développement web
     </h5>
     <ul>
     <li> <p>  Développer l'interface et la partie back-end d’une application web </p></li>
    <li>   <p>       Création API</p></li>
     <li>  <p>  Maîtrise des  outils de développement, de travail  collaboratifs et
        de versionning : Visual Studio Code,  Arduino, Discord, Outils de
       Google, Git etc.</p></li>
      </ul>
  </div>
  <div class="card" style="border: none;">
    <h5> Langages de Programmation:
     </h5>
      <p>   Ladder, Go, PHP, C, JS, HTML, CSS,  C++ </p>

  </div>
  <div class="card" style="border: none;">
    <h5> Frameworks:
     </h5>
      <p>    React, Bootstrap, Laravel, Angular, Express js et Nest js </p>

  </div>
  <div class="card" style="border: none;">
    <h5> Logiciels:
     </h5>
      <p>   FLUDSIM, TIA PORTAL, AUTOCAD, CATIA, SKETCHUP,
        MIKRO C, MPLAB </p>

  </div>
  <div class="card" style="border: none;">
    <h4 class="card " style="background-color:#147AD8; color: rgb(246, 246, 246);">FORMATIONS</h4>

       <h5> Digitalisation et maintenance de la chaîne de production </h5>
        <span>  Simplon| /Dakar, Sénégal</span>
        <span>  2022</span>
        <h5> Technicien en électrotechnique</h5>
        <span>  IPD Thomas sankara /Dakar, Sénégal</span>
        <span>  2022 </span>
        <h5>Première Année en Biologie ,Chimie et Géoscience</h5>
        <span>  Université Cheikh Anta DIOP Dakar, Sénégal</span>
        <span>  2018– 2019  </span>
        <h5>  Baccalauréat S2 </h5>
        <span>  Lycée Macodou SALL / Louga, Kébémer, Sénégal</span>
        <span>   2017 – 2018 </span>

  </div>

   </div>
  </div>
  </div>

